{% extends "UnrtechBackOfficeBundle:Admin:admin_base.html.twig" %}

{% block title %}Dashboard{% endblock %}
{% block adminContent %}
<h2>Welcome on the admin back office dashboard</h2>
{% endblock %}
